.row {
    display: inline-block;
    height: 100%;
    width: 19%;
}

.box{
    background-color:blue;
    height: 20%;
    width: 100%;
}

.message{
    width: 800px;
    height: 800px;
}

.row2 > .box{
    margin-top: 320px;
}